nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2rem;

        li {
            list-style: none;

            a {
                font-size: 1.7rem;
                color: white;
                text-decoration: none;
                padding: .5rem;
                border-bottom: 3px solid transparent;
                transition: 0.3s border ease-in-out;

                &:hover {
                    border-bottom: 3px solid #00bfff98;
                }
            }
        }
    }

    .catalog_options {
        display: flex;
        gap: 2rem;

        h1 {
            color: white;
            font-size: 2.5rem;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            gap: .5rem;
            padding: .5rem;
            font-size: 1.2rem;
            color: white;
            border-bottom: 2px solid transparent;
            transition: 0.3s border ease-in-out;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid #00bfff98;
            }
        }
    }
}