@keyframes slide-in {
    from {
        margin-bottom: 100%;
        opacity: 0;
    }

    70% {
        margin-bottom: 90%;
        opacity: 0.9;
    }

    to {
        margin-bottom: 0%;
        opacity: 1;
    }
}