.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgb(230, 230, 230);
  font-family: "Poppins", serif;
}
.modal h2 {
  font-size: 2rem;
}
.modal .modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 90vh;
  padding: 2rem;
  gap: 3rem;
}
.modal .modal_content p {
  color: red;
  background-color: rgba(255, 0, 0, 0.279);
  border-radius: 0.5rem;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;
}
.modal .modal_content .products {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
}
.modal .modal_content .products .list_products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal .modal_content .products .list_products .info_list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.modal .modal_content .products .list_products .info_list li {
  color: rgb(168, 168, 168);
  font-weight: bold;
}
.modal .modal_content .products .list_products .product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-bottom: 1.5rem;
  border-bottom: 1.5px solid rgb(230, 230, 230);
}
.modal .modal_content .products .list_products .product .characteristics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.modal .modal_content .products .list_products .product .characteristics .name {
  font-weight: 400;
}
.modal .modal_content .products .list_products .product .characteristics .amount {
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 3rem;
  border: 1px solid rgb(230, 230, 230);
  font-weight: bold;
  text-align: center;
}
.modal .modal_content .products .list_products .product .characteristics .value {
  font-weight: bold;
}
.modal .modal_content .products .list_products .product .characteristics .trash {
  color: rgb(168, 168, 168);
  cursor: pointer;
}
.modal .modal_content .products .list_products .product .characteristics .trash:hover {
  color: red;
}
.modal .modal_content .products .list_products .product .characteristics .trash:active {
  opacity: 0.8;
}
.modal .modal_content .products .list_products .product img {
  height: auto;
  width: 60px;
}
.modal .modal_content .buy {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 30%;
  max-height: 50vh;
}
.modal .modal_content .buy .values {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal .modal_content .buy .values .promotion {
  text-align: center;
}
.modal .modal_content .buy .values .promotion span {
  color: rgba(0, 191, 255, 0.5960784314);
  font-weight: bold;
}
.modal .modal_content .buy .values .total {
  color: rgba(0, 191, 255, 0.5960784314);
  font-weight: bold;
}
.modal .modal_content .buy .values .total span {
  font-weight: bold;
}
.modal .modal_content .buy .values .total .total_payable {
  font-weight: 500;
  color: black;
}
.modal .modal_content .buy .actions_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.modal .modal_content .buy .actions_cart button {
  background-color: rgba(0, 191, 255, 0.5960784314);
  color: white;
  padding: 0.7rem;
  border-radius: 0.7rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.modal .modal_content .buy .actions_cart button:hover {
  opacity: 0.9;
}
.modal .modal_content .buy .actions_cart button:active {
  opacity: 0.8;
}
.modal .modal_content .buy .help {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  color: rgb(159, 159, 159);
}/*# sourceMappingURL=Cart.module.css.map */