@keyframes slideInImgRight {
    from {
        opacity: 0;
        transform: translateX(200px) rotate(30deg);
    }

    to {
        opacity: 1;
        transform: translateX(0px) rotate(15deg);
    }
}

@keyframes slideInTxtRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideInImgLeft {
    from {
        opacity: 0;
        transform: translateX(-200px) rotate(-30deg);
    }

    to {
        opacity: 1;
        transform: translateX(0px) rotate(-15deg);
    }
}

@keyframes slideInTxtLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}