.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    background-color: white;
    cursor: pointer;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: .5rem;
    transition: 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 2px #00bfff83,
            0 0 20px 6px #00bfff83,
    }

    & img {
        width: auto;
        height: 200px;
    }


    & .name_and_price {
        display: flex;
        flex-direction: column;

        & .name_product {
            color: rgb(98, 98, 98);
            font-weight: 400;
            font-size: 1.5rem;
        }

        & .promotion {
            & p {
                color: rgb(179, 0, 0);

                & span {
                    text-decoration: line-through;
                }
            }
        }

        & .price {
            color: #0a9c03;
            font-size: 1.6rem;
            font-weight: 600;

            & span {
                position: relative;
                top: -20%;
                font-size: 15px;
            }
        }
    }

    & button {
        background-color: #00bfff98;
        color: white;
        padding: .7rem;
        border-radius: .7rem;
        border: none;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 0.8;
        }
    }
}