// NAV MEDIA QUERY

@include mobile {
    nav {
        gap: 1rem;

        ul {
            gap: 1rem;

            li a {
                font-size: 1.2rem;
            }
        }

        .catalog_options {
            gap: 1rem;

            h1 {
                font-size: 1.5rem;
            }

            a {
                font-size: 0.9rem;
            }
        }
    }
}

@include tablet {
    nav {
        gap: 1.5rem;

        ul {
            gap: 1.5rem;

            li a {
                font-size: 1.4rem;
            }
        }

        .catalog_options {
            gap: 1.5rem;

            h1 {
                font-size: 1.8rem;
            }

            a {
                font-size: 1.1rem;
            }
        }
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}