@import url(./animation/_animation.scss);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    width: 100%;

    .blur {
        background-image: url('../../assets/img/LuxureWPP.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        filter: blur(4px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;

        .logo_luxure {
            height: 30rem;
            filter: brightness(0) invert(1);
            animation: slide-in 1.3s ease-in-out forwards;
        }

        .saying_luxure {
            position: relative;
            top: -160px;
            color: white;
            font-family: "Playwrite IN", serif;
            font-size: .9rem;
            opacity: 0;
            animation: slide-in 1.3s ease-in-out forwards;
            animation-delay: 0.9s;
        }

        ul {
            display: flex;
            justify-content: center;
            width: 70%;
            padding: 1rem;
            opacity: 0;
            gap: 2rem;
            animation: slide-in 1.3s ease-in-out forwards;
            animation-delay: 1.5s;

            li {
                list-style: none;

                a {
                    font-size: 1.7rem;
                    font-family: "Oswald", serif;
                    color: white;
                    text-decoration: none;
                    padding: .5rem;
                    border-bottom: 3px solid transparent;
                    transition: 0.3s border ease-in-out;

                    &:hover {
                        border-bottom: 3px solid #00bfff98;
                    }
                }
            }
        }
    }
}